h1 {
  font-size: 63px;
  colo: black;
}

h2 {
  font-size: 36px;
  colo: black;
}

h3 {
  font-size: 27px;
  colo: black;
}

p {
  color: #bfbfbf;
}

button:hover {
  opacity: 0.7;
}

body {
  font-size: 18px;
  overflow-x: hidden;
  font-family: 'Poppins';
  font-weight: 500 , 700;
}

* {
  box-sizing: border-box;
}

/* header */
header {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
header div:first-of-type .nav {
  display: inline-block;
  margin-left: 30px;
}
header div:first-of-type .nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
}
header div:first-of-type .nav li a {
  text-decoration: none;
  color: #bfbfbf;
  transition: all 0.3s ease-in-out;
}
header div:first-of-type .nav li a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}
header div:nth-of-type(2) span {
  color: #bfbfbf;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header div:nth-of-type(2) span:hover {
  color: black;
}
header div:nth-of-type(2) button {
  width: 120px;
  height: 50px;
  background-color: #2acfcf;
  border-radius: 120px;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}
header .inside-burger, header .inside-burger2, header #burger, header #close {
  display: none;
  visibility: hidden;
  position: absolute;
}

/* section 1 */
.more {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.more article:first-of-type button {
  width: 120px;
  height: 50px;
  background-color: #2acfcf;
  border-radius: 120px;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
  width: 180px;
}
.more article:first-of-type .paragraph {
  max-width: 55%;
}
.more article:last-of-type {
  position: absolute;
  margin-top: -50px;
  margin-left: 70%;
}
.more article:last-of-type img {
  width: 650px;
}

/* section 2 */
.shorten {
  position: relative;
  top: 150px;
  padding-top: 55px;
  text-align: center;
  margin: 50px auto;
  width: 80%;
  height: 150px;
  border: 1px solid white;
  border-radius: 10px;
  background: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #3b3054;
  /* hidden links */
}
.shorten input {
  width: 70%;
  border: 2px solid transparent;
  border-radius: 10px;
  height: 50px;
  position: relative;
  /* 
  top:-8px; */
  padding-left: 20px;
  transition: all 0.15s ease-in-out;
}
.shorten input:focus {
  outline-color: #2acfcf;
  border-color: #2acfcf;
  border-radius: 10px;
  box-shadow: 0px 0px 10px violet;
}
.shorten #invalid {
  font-size: 15px;
  display: none;
  position: absolute;
  color: red;
  margin-left: 8%;
  margin-top: 55px;
}
.shorten button {
  width: 120px;
  height: 50px;
  background-color: #2acfcf;
  border-radius: 120px;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  width: 170px;
  margin-left: 10px;
  border: 2px solid transparent;
  /* loading  */
}
.shorten button #load {
  display: none;
  perspective: 200px;
  margin-left: 40%;
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 4px solid white;
  /*	border-bottom: 4px solid $cyan; */
  animation: loading 0.8s ease-in-out 0s infinite normal forwards;
}
@keyframes loading {
  0% , 100% {
    border-bottom: 4px solid #2acfcf;
  }
  25% {
    border-left: 4px solid #2acfcf;
    border-bottom: 4px solid white;
  }
  50% {
    border-top: 4px solid #2acfcf;
    border-bottom: 4px solid white;
  }
  75% {
    border-right: 4px solid #2acfcf;
    border-bottom: 4px solid white;
  }
}
.shorten #urls {
  position: relative;
  top: 40px;
  display: none;
}
.shorten #urls article {
  padding: 30px;
  margin: 50px auto;
  width: 100%;
  height: 100px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.shorten #urls article span {
  position: relative;
  top: 10px;
}
.shorten #urls article h4 {
  color: #2acfcf;
  display: inline-block;
  cursor: pointer;
}
.shorten #urls article button {
  width: 120px;
  height: 50px;
  background-color: #2acfcf;
  border-radius: 120px;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
  width: 110px;
  height: 40px;
  border-radius: 5px;
}
.shorten .inp-hidden {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
}

/* section 3 */
.advanced {
  background-color: #ebebeb;
  width: 100%;
  height: 1100px;
  margin-top: 70px;
  padding-top: 200px;
}
.advanced h2, .advanced p {
  text-align: center;
  margin-top: 30px;
}
.advanced div {
  display: flex;
  justify-content: center;
  column-gap: 0px;
}
.advanced div [class^="h"] {
  width: 30px;
  height: 10px;
  border: 5px solid #2acfcf;
  background-color: #2acfcf;
  margin-top: 270px;
}
.advanced div article {
  text-align: left;
  border-radius: 15px;
  margin-top: 100px;
  /*padding: 4rem 3.5rem;*/
  padding: 30px;
  padding-left: 40px;
  width: 400px;
  height: 300px;
  background-color: white;
}
.advanced div article h3 {
  margin-top: 30px;
}
.advanced div article p {
  margin-left: -15px;
}
.advanced div article div {
  background-color: #3b3054;
  margin-top: -60px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding-top: 18px;
}
.advanced div article img {
  width: 30px;
  height: 30px;
}
.advanced div article:nth-of-type(2) {
  margin-top: 150px;
}
.advanced div article:last-of-type {
  margin-top: 200px;
}

/* section 4 */
.boost {
  margin-top: -100px;
  text-align: center;
  padding-top: 50px;
  width: 100%;
  height: 270px;
  background: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #3b3054;
}
.boost h2 {
  color: white;
}
.boost button {
  width: 120px;
  height: 50px;
  background-color: #2acfcf;
  border-radius: 120px;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
  width: 180px;
  border-color: transparent;
}

/* footer */
footer {
  padding: 100px;
  background-color: #232127;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
}
footer h4 {
  color: white;
}
footer .menu li {
  position: relative;
  top: 20px;
  display: block;
  list-style-type: none;
  margin-top: 20px;
}
footer .menu li a {
  text-decoration: none;
  color: #bfbfbf;
  transition: all 0.3s ease-in-out;
}
footer .menu li a:hover {
  text-decoration: none;
  color: #2acfcf;
}
footer div:last-of-type {
  display: inline-block;
}
footer div:last-of-type i {
  cursor: pointer;
  font-size: 23px;
  display: inline-block;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}
footer div:last-of-type i:hover {
  color: #2acfcf;
}

/* max-width:1000px  */
@media (max-width: 1000px) {
  h1 {
    font-size: 45px;
    colo: black;
  }

  h2 {
    font-size: 36px;
    colo: black;
  }

  h3 {
    font-size: 27px;
    colo: black;
  }

  .more div:last-of-type img {
    width: 500px;
  }

  .advanced div article {
    height: 400px;
  }
}
/* max-width:850px  */
@media (max-width: 850px) {
  /* header */
  header {
    display: flex;
    justify-content: space-between;
  }
  header div:first-of-type img {
    display: block;
    position: relative;
    left: 15%;
  }
  header div:first-of-type .nav {
    display: none;
  }
  header div:nth-of-type(2) {
    display: none;
  }
  header #burger {
    display: block;
    visibility: visible;
    /*	height: 25px;
    	width: 35px; */
    margin-top: 5px;
    position: relative;
    right: 5%;
    cursor: pointer;
    color: #bfbfbf;
    font-size: 27px;
  }
  header #close {
    display: none;
    visibility: visible;
    cursor: pointer;
    height: 25px;
    width: 40px;
    opacity: 1;
    margin-top: 5px;
    position: relative;
    right: 1%;
    color: #bfbfbf;
    font-size: 27px;
  }
  header .close:hover {
    opacity: 1;
  }
  header .inside-burger {
    z-index: 10000000000000000000;
    display: none;
    visibility: visible;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 10%;
    margin: 50px auto;
    width: 80%;
    height: 450px;
    padding: 20px;
    background-color: #35323e;
    border-radius: 20px;
    box-shadow: 0px 0px 40px #35323e;
    animation: showdiv 1s ease-in-out 0s 1 normal forwards;
  }
  header .inside-burger li {
    list-style-type: none;
    margin-top: 40px;
  }
  header .inside-burger li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  header .inside-burger li a:hover {
    color: #2acfcf;
  }
  header .inside-burger hr {
    width: 100%;
    height: 0px;
    border: 1px solid #bfbfbf;
    margin-top: 50px;
  }
  header .inside-burger span {
    cursor: pointer;
    position: relative;
    top: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  header .inside-burger span:hover {
    color: #2acfcf;
  }
  header .inside-burger button {
    width: 120px;
    height: 50px;
    background-color: #2acfcf;
    border-radius: 120px;
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-top: 40px;
    width: 100%;
  }
  header .inside-burger2 {
    z-index: 10000000000000000000;
    display: none;
    visibility: visible;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 10%;
    margin: 50px auto;
    width: 80%;
    height: 450px;
    padding: 20px;
    background-color: #35323e;
    border-radius: 20px;
    box-shadow: 0px 0px 40px #35323e;
    animation: closediv 0.4s ease-in-out 0s 1 normal forwards;
  }
  header .inside-burger2 li {
    list-style-type: none;
    margin-top: 40px;
  }
  header .inside-burger2 li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  header .inside-burger2 li a:hover {
    color: #2acfcf;
  }
  header .inside-burger2 hr {
    width: 100%;
    height: 0px;
    border: 1px solid #bfbfbf;
    margin-top: 50px;
  }
  header .inside-burger2 span {
    cursor: pointer;
    position: relative;
    top: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  header .inside-burger2 span:hover {
    color: #2acfcf;
  }
  header .inside-burger2 button {
    width: 120px;
    height: 50px;
    background-color: #2acfcf;
    border-radius: 120px;
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-top: 40px;
    width: 100%;
  }
  @keyframes showdiv {
    0% {
      margin-top: -300px;
    }
    25% {
      margin-top: 50px;
    }
    50% {
      margin-top: 20px;
    }
    75% {
      margin-top: 60px;
    }
    100% {
      margin-top: 50px;
    }
  }
  @keyframes closediv {
    from {
      margin-top: 50px;
    }
    to {
      margin-top: -600px;
    }
  }
  /* section 1 */
  .more {
    margin-top: 150px;
    width: 100%;
    text-align: center;
    display: block;
  }
  .more article:first-of-type {
    position: relative;
    top: 300px;
  }
  .more article:first-of-type .paragraph {
    max-width: 100%;
  }
  .more article:last-of-type {
    order: 1;
    position: relative;
    top: -350px;
    left: 60px;
    margin-top: 0px;
    margin-left: 0%;
  }
  .more article:last-of-type img {
    width: 500px;
  }

  /* section 2 */
  .shorten {
    position: relative;
    top: 80px;
    padding-top: 35px;
    width: 90%;
    height: 200px;
    background: url(../images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #3b3054;
    /* loading  */
    /* hidden links */
  }
  .shorten input {
    width: 90%;
  }
  .shorten button {
    width: 90%;
    margin-left: 0px;
    margin-top: 35px;
  }
  .shorten #invalid {
    margin-top: 50px;
  }
  .shorten #load {
    position: relative;
    left: 7.5%;
  }
  .shorten #urls article {
    height: 200px;
    display: block;
    text-align: center;
  }
  .shorten #urls article h4 {
    color: #2acfcf;
    display: block;
    cursor: pointer;
    margin-top: 40px;
  }
  .shorten #urls article button {
    margin-top: 10px;
  }

  /* section 3 */
  .advanced {
    height: 1750px;
    text-align: center;
    margin-top: -70px;
  }
  .advanced div {
    display: block;
    text-align: center;
  }
  .advanced div [class^="h"] {
    width: 10px;
    height: 80px;
    z-index: 50000;
    margin-top: -50px;
    margin-left: 50%;
  }
  .advanced div article {
    margin: 50px auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 100px;
    /*padding: 4rem 3.5rem;*/
    padding: 0px;
    padding-left: 40px;
    width: 400px;
    height: 300px;
    background-color: white;
  }
  .advanced div article h3 {
    margin-top: -30px;
  }
  .advanced div article div {
    position: relative;
    left: -15px;
    top: -25px;
    margin: 50px auto;
    /*	background-color: hsl(257, 27%, 26%);
    	margin-top: -60px;
    	border-radius: 50%;
    	width: 70px;
    	height: 70px;
    	padding-top: 18px; */
  }
  .advanced div article img {
    width: 30px;
    height: 30px;
  }
  .advanced div article:nth-of-type(2), .advanced div article:last-of-type {
    margin-top: -50px;
  }

  /* section 4 */
  .boost {
    margin-top: -50px;
    background: url(../images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #3b3054;
  }

  /* footer */
  footer {
    height: 1100px;
    display: block;
    text-align: center;
  }
  footer .menu {
    margin-top: 80px;
    margin-left: -35px;
  }
  footer div:last-of-type {
    display: inline-block;
    margin-top: 70px;
    margin-left: -20px;
  }
}

/*# sourceMappingURL=style.css.map */
